{
  "log": {
    "_recordingName": "Jira Class Test/addAssigneeToIssue should add pr creator as assignee to an issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "cbe7e261e834b596aeeb4accc25380f3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "accountId",
              "value": "5be06148923d3245b8ba1a1f"
            }
          ],
          "url": "https://rigup.atlassian.net/rest/api/3/user/bulk?maxResults=25&accountId=5be06148923d3245b8ba1a1f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1242,
            "text": "{\"self\":\"https://rigup.atlassian.net/rest/api/3/user/bulk/?accountId=5be06148923d3245b8ba1a1f&maxResults=25&startAt=0\",\"maxResults\":25,\"startAt\":0,\"total\":1,\"isLast\":true,\"values\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "b0126f2699bb32cd"
            },
            {
              "name": "x-aaccountid",
              "value": "5be06148923d3245b8ba1a1f"
            },
            {
              "name": "x-arequestid",
              "value": "0f7530c4-65b8-4511-8444-a6aaed3f7d6b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 3963,
      },
      {
        "_id": "95da7845c7c08a3c240e12384dacb894",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"accountId\":\"5be06148923d3245b8ba1a1f\"}"
          },
          "queryString": [],
          "url": "https://rigup.atlassian.net/rest/api/3/issue/EE-299/assignee"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "63ca3e7e8689df5a"
            },
            {
              "name": "x-aaccountid",
              "value": "5be06148923d3245b8ba1a1f"
            },
            {
              "name": "x-arequestid",
              "value": "e1420c64-320c-47cb-b3b6-3d9efc5fa27e"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 463,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
