{
  "log": {
    "_recordingName": "Action Class Test/autoAssignCreator() should return send req to Jira",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3823454fe68be9b4c3ac47a01684c854",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-amz-json-1.0"
            },
            {
              "name": "x-amz-target",
              "value": "DynamoDB_20120810.Query"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "52c3d50bffa08c6dd1395eec94e5c584e7c6a6101af24d1fac110d70b918f3fb"
            },
            {
              "name": "x-amz-date",
              "value": "20191004T182159Z"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-amz-json-1.0",
            "params": [],
            "text": "{\"TableName\":\"rigup-concert-people-prod\",\"IndexName\":\"githubId-index\",\"KeyConditionExpression\":\"githubId = :v1\",\"ExpressionAttributeValues\":{\":v1\":{\"N\":\"2539656\"}}}"
          },
          "queryString": [],
          "url": "https://dynamodb.us-east-1.amazonaws.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/x-amz-json-1.0",
            "size": 252,
            "text": "{\"Count\":1,\"Items\":[{\"githubId\":{\"N\":\"2539656\"},\"slackId\":{\"S\":\"UDVUXFLUT\"},\"fullName\":{\"S\":\"Duane Bester :verified:\"},\"email\":{\"S\":\"duane.bester@rigup.co\"},\"targetProcessId\":{\"N\":\"86\"},\"atlassianId\":{\"S\":\"5be06148923d3245b8ba1a1f\"}}],\"ScannedCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-amz-json-1.0"
            },
            {
              "name": "x-amzn-requestid",
              "value": "HS1OEM3CKSEN6P67M8HLGC45PJVV4KQNSO5AEMVJF66Q9ASUAAJG"
            },
            {
              "name": "x-amz-crc32",
              "value": "1270664578"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 317,
      },
      {
        "_id": "cbe7e261e834b596aeeb4accc25380f3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "accountId",
              "value": "5be06148923d3245b8ba1a1f"
            }
          ],
          "url": "https://rigup.atlassian.net/rest/api/3/user/bulk?maxResults=25&accountId=5be06148923d3245b8ba1a1f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1242,
            "text": "{\"self\":\"https://rigup.atlassian.net/rest/api/3/user/bulk/?accountId=5be06148923d3245b8ba1a1f&maxResults=25&startAt=0\",\"maxResults\":25,\"startAt\":0,\"total\":1,\"isLast\":true,\"values\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "2f60b875d04aeb43"
            },
            {
              "name": "x-aaccountid",
              "value": "5be06148923d3245b8ba1a1f"
            },
            {
              "name": "x-arequestid",
              "value": "bad9bd8f-8e95-4148-b702-521a3253dfe2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 338,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
