{
  "log": {
    "_recordingName": "Jira Class Test/setReleasePlatform should set release platform for an issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "6226a6024086f005f98fca420f9ebf1d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"fields\":{\"customfield_10189\":{\"value\":\"other\"}}}"
          },
          "queryString": [],
          "url": "https://rigup.atlassian.net/rest/api/3/issue/EE-859"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 0
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "68219017d797d0c1"
            },
            {
              "name": "x-aaccountid",
              "value": "557058%3A180fbfdf-265b-43c6-bf49-f1a57c2cb506"
            },
            {
              "name": "x-arequestid",
              "value": "9bf0e7fa-85c9-49f5-95bb-be5395b351ed"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 823,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
