{
  "log": {
    "_recordingName": "Action Class Test/Jira/updateCodeReviewers() should return send req to Jira",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "3823454fe68be9b4c3ac47a01684c854",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-amz-json-1.0"
            },
            {
              "name": "x-amz-target",
              "value": "DynamoDB_20120810.Query"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "07b5f3655ed1db3774be482737eb2018a5ece8b201981d81293579f6339d715e"
            },
            {
              "name": "x-amz-date",
              "value": "20191008T223941Z"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-amz-json-1.0",
            "params": [],
            "text": "{\"TableName\":\"rigup-concert-people-prod\",\"IndexName\":\"githubId-index\",\"KeyConditionExpression\":\"githubId = :v1\",\"ExpressionAttributeValues\":{\":v1\":{\"N\":\"98154\"}}}"
          },
          "queryString": [],
          "url": "https://dynamodb.us-east-1.amazonaws.com/"
        },
        "response": {
          "content": {
            "mimeType": "application/x-amz-json-1.0",
            "size": 245,
            "text": "{\"Count\":1,\"Items\":[{\"githubId\":{\"N\":\"98154\"},\"slackId\":{\"S\":\"U15BCT8US\"},\"fullName\":{\"S\":\"Alex Yu\"},\"email\":{\"S\":\"alex@rigup.co\"},\"targetProcessId\":{\"N\":\"32\"},\"atlassianId\":{\"S\":\"557058:180fbfdf-265b-43c6-bf49-f1a57c2cb506\"}}],\"ScannedCount\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-amz-json-1.0"
            },
            {
              "name": "x-amzn-requestid",
              "value": "UE102Q4PUTRKS0G9LH2LB5DCV7VV4KQNSO5AEMVJF66Q9ASUAAJG"
            },
            {
              "name": "x-amz-crc32",
              "value": "3386477577"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 262,
      },
      {
        "_id": "3823454fe68be9b4c3ac47a01684c854",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-amz-json-1.0"
            },
            {
              "name": "x-amz-target",
              "value": "DynamoDB_20120810.Query"
            },
            {
              "name": "x-amz-content-sha256",
              "value": "1bccba653341ab13721f005399705d94fd9f33a04e853ddc7f5f24f63b19564[...]
