{
  "log": {
    "_recordingName": "Jira Class Test/addApproversToIssue should add assignees as approvers to an issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "a9ec1f5215cfb9cf1b3dc8f34f8d8234",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "name": "accountId",
              "value": "5be06148923d3245b8ba1a1f"
            }
          ],
          "url": "https://rigup.atlassian.net/rest/api/3/user/bulk?maxResults=25&accountId=5be06148923d3245b8ba1a1f"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1241,
            "text": "{\"self\":\"https://rigup.atlassian.net/rest/api/3/user/bulk?accountId=5be06148923d3245b8ba1a1f&maxResults=25&startAt=0\",\"maxResults\":25,\"startAt\":0,\"total\":1,\"isLast\":true,\"values\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "87ed56175a3be9d9"
            },
            {
              "name": "x-aaccountid",
              "value": "5be06148923d3245b8ba1a1f"
            },
            {
              "name": "x-arequestid",
              "value": "76443b18-ccb1-4018-af07-8ffe4b73903e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      },
      {
        "_id": "552a15833d1ffa372be4861b5db0b934",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"fields\":{\"customfield_10003\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1d[...]
