{
  "log": {
    "_recordingName": "Jira Class Test/getUsers should return valid users",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "0da62e15cc7d0bf338f2567982ef721c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxResults",
              "value": "70"
            }
          ],
          "url": "https://rigup.atlassian.net/rest/api/3/users/search?maxResults=70"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 69710,
            "text": "[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5cf97486a1d0930f39e189ba\",\"accountId\":\"5cf97486a1d0930f39e189ba\",\"accountType\":\"atlassian\",\"emailAddress\":\"scott.lee@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/9090876fdea15697f49e8a5532567d90?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FSL-3.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/9090876fdea15697f49e8a5532567d90?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FSL-3.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/9090876fdea15697f49e8a5532567d90?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FSL-3.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/9090876fdea15697f49e8a5532567d90?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FSL-3.png&size=32&s=32\"},\"displayName\":\"Scott Lee\",\"active\":true,\"locale\":\"en_US\"},{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5c589dd54c1b752ba8536fa7\",\"accountId\":\"5c589dd54c1b752ba8536fa7\",\"accountType\":\"atlassian\",\"emailAddress\":\"paden.jones@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c589dd54c1b752ba8536fa7/9bc2c9ea-aaaf-42f9-a2df-b7f065b8267d/128?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c589dd54c1b752ba853[...]
