{
  "log": {
    "_recordingName": "Jira Class Test/getIssue should return valid issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "b84a7e6f067bbad6b2ec4d19482bee79",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://rigup.atlassian.net/rest/api/3/issue/EE-282"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 12200,
            "text": "{\"expand\":\"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations\",\"id\":\"13051\",\"self\":\"https://rigup.atlassian.net/rest/api/3/issue/13051\",\"key\":\"EE-282\",\"fields\":{\"statuscategorychangedate\":\"2019-09-25T09:52:31.146-0500\",\"issuetype\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/issuetype/10150\",\"id\":\"10150\",\"description\":\"An implementation task that code will be committed against.\",\"iconUrl\":\"https://rigup.atlassian.net/secure/viewavatar?size=medium&avatarId=10316&avatarType=issuetype\",\"name\":\"Task\",\"subtask\":true,\"avatarId\":10316},\"parent\":{\"id\":\"11773\",\"key\":\"EE-245\",\"self\":\"https://rigup.atlassian.net/rest/api/3/issue/11773\",\"fields\":{\"summary\":\"Jira Workflow Automations \",\"status\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/status/10092\",\"description\":\"Added by Product Development team.\",\"iconUrl\":\"https://rigup.atlassian.net/images/icons/statuses/generic.png\",\"name\":\"In Engineering\",\"id\":\"10092\",\"statusCategory\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/statuscategory/4\",\"id\":4,\"key\":\"indeterminate\",\"colorName\":\"yellow\",\"name\":\"In Progress\"}},\"priority\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/priority/1\",\"iconUrl\":\"https://rigup.atlassian.net/images/icons/priorities/highest.svg\",\"name\":\"Highest\",\"id\":\"1\"},\"issuetype\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/issuetype/10149\",\"id\":\"10149\",\"description\":\"Represents a discrete technical change to the product (no visual or behavioral changes). Technical Stories should be scoped so that there’s a reasonable expectation that they can be completed in a single sprint iteration.\",\"iconUrl\":\"https://rigup.atlassian.net/secure/viewavatar?size=medium&avatarId=10321&avatarType=issuetype\",\"name\":\"Technical Story\",\"subtask\":false,\"avatarId\":10321}}},\"timespent\":null,\"project\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/project/10007\",\"id\":\"10007\",\"key\":\"EE\",\"name\":\"Engineering Enablement\",\"projectTypeKey\":\"software\",\"simplified\":false,\"avatarUrls\":{\"48x48\":\"https://rigup.atlassian.net/secure/projectavatar?pid=10007&avatarId=10414\",\"24x24\":\"https://rigup.atlassian.net/secure/projectavatar?size=small&s=small&pid=10007&avatarId=10414\",\"16x16\":\"https://rigup.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10007&avatarId=10414\",\"32x32\":\"https://rigup.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10007&avatarId=10414\"}},\"fixVersions\":[],\"customfield_10155\":null,\"aggregatetimespent\":null,\"resolution\":null,\"customfield_10158\":null,\"customfield_10104\":null,\"customfield_10105\":null,\"customfield_10107\":null,\"customfield_10108\":null,\"customfield_10109\":null,\"resolutiondate\":null,\"workratio\":-1,\"lastViewed\":\"2019-09-25T09:51:38.072-0500\",\"watches\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/issue/EE-282/watchers\",\"watchCount\":1,\"isWatching\":true},\"customfield_10180\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5c6c66f347a54a6728e56778\",\"name\":\"mac.evans\",\"key\":\"mac.evans\",\"accountId\":\"5c6c66f347a54a6728e56778\",\"emailAddress\":\"mac.evans@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c6c66f347a54a6728e56778/a8031473-d656-4676-aa28-923411f2661e/128?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c6c66f347a54a6728e56778/a8031473-d656-4676-aa28-923411f2661e/128?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c6c66f347a54a6728e56778/a8031473-d656-4676-aa28-923411f2661e/128?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c6c66f347a54a6728e56778/a8031473-d656-4676-aa28-923411f2661e/128?size=32&s=32\"},\"displayName\":\"Mac Evans\",\"active\":true,\"timeZone\":\"America/Chicago\",\"accountType\":\"atlassian\"},{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5c7d4b0d16effa74fa9deac3\",\"name\":\"michaelroberts\",\"key\":\"michaelroberts\",\"accountId\":\"5c7d4b0d16effa74fa9deac3\",\"emailAddress\":\"michael.roberts@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=32&s=32\"},\"displayName\":\"Michael Roberts\",\"active\":true,\"timeZone\":\"America/Chicago\",\"accountType\":\"atlassian\"}],\"customfield_10181\":null,\"created\":\"2019-09-24T14:41:11.941-0500\",\"customfield_10183\":null,\"customfield_10020\":[\"com.atlassian.greenhopper.service.sprint.Sprint@35415d5d[id=7,rapidViewId=5,state=ACTIVE,name=JCT Sprint 2,goal=,startDate=2019-09-15T20:27:25.357Z,endDate=2019-09-29T20:27:00.000Z,completeDate=<null>,sequence=7]\"],\"customfield_10021\":null,\"priority\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/priority/5\",\"iconUrl\":\"https://rigup.atlassian.net/images/icons/priorities/lowest.svg\",\"name\":\"Lowest\",\"id\":\"5\"},\"customfield_10100\":null,\"customfield_10101\":null,\"customfield_10102\":null,\"customfield_10103\":[],\"labels\":[],\"customfield_10016\":null,\"customfield_10017\":null,\"customfield_10018\":{\"hasEpicLinkFieldDependency\":false,\"showField\":false,\"nonEditableReason\":{\"reason\":\"PLUGIN_LICENSE_ERROR\",\"message\":\"Portfolio for Jira must be licensed for the Parent Link to be available.\"}},\"customfield_10019\":\"0|i003uv:\",\"timeestimate\":null,\"aggregatetimeoriginalestimate\":null,\"versions\":[],\"issuelinks\":[],\"assignee\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\",\"accountType\":\"atlassian\"},\"updated\":\"2019-09-27T17:34:35.764-0500\",\"status\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/status/10076\",\"description\":\"This was auto-generated by Jira Service Desk during workflow import\",\"iconUrl\":\"https://rigup.atlassian.net/images/icons/status_generic.gif\",\"name\":\"Done\",\"id\":\"10076\",\"statusCategory\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/statuscategory/3\",\"id\":3,\"key\":\"done\",\"colorName\":\"green\",\"name\":\"Done\"}},\"components\":[],\"customfield_10170\":null,\"customfield_10171\":null,\"timeoriginalestimate\":null,\"customfield_10172\":null,\"customfield_10173\":null,\"customfield_10174\":null,\"description\":null,\"customfield_10130\":null,\"customfield_10010\":null,\"customfield_10175\":null,\"customfield_10176\":null,\"customfield_10177\":null,\"customfield_10178\":null,\"customfield_10014\":null,\"timetracking\":{},\"customfield_10015\":null,\"customfield_10005\":null,\"customfield_10006\":null,\"security\":null,\"customfield_10007\":null,\"customfield_10008\":null,\"attachment\":[],\"aggregatetimeestimate\":null,\"customfield_10009\":null,\"summary\":\"Jira Validation should fail if Issue ID maps to an Epic, etc\",\"creator\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\",\"accountType\":\"atlassian\"},\"subtasks\":[],\"reporter\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\",\"accountType\":\"atlassian\"},\"aggregateprogress\":{\"progress\":0,\"total\":0},\"customfield_10000\":\"{pullrequest={dataType=pullrequest, state=OPEN, stateCount=1}, json={\\\"cachedValue\\\":{\\\"errors\\\":[],\\\"summary\\\":{\\\"pullrequest\\\":{\\\"overall\\\":{\\\"count\\\":1,\\\"lastUpdated\\\":\\\"2019-09-27T15:39:31.000-0500\\\",\\\"stateCount\\\":1,\\\"state\\\":\\\"OPEN\\\",\\\"dataType\\\":\\\"pullrequest\\\",\\\"open\\\":true},\\\"byInstanceType\\\":{\\\"GitHub\\\":{\\\"count\\\":1,\\\"name\\\":\\\"GitHub\\\"}}}}},\\\"isStale\\\":true}}\",\"customfield_10166\":null,\"customfield_10001\":null,\"customfield_10002\":null,\"customfield_10167\":null,\"customfield_10168\":null,\"customfield_10003\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5be06148923d3245b8ba1a1f\",\"name\":\"duanebester\",\"key\":\"duanebester\",\"accountId\":\"5be06148923d3245b8ba1a1f\",\"emailAddress\":\"duane.bester@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=48&s=48\",\"24x24\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=24&s=24\",\"16x16\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=16&s=16\",\"32x32\":\"https://secure.gravatar.com/avatar/f5635ecdd3c1db8f9103beca27ed8b54?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FDB-4.png&size=32&s=32\"},\"displayName\":\"Duane Bester\",\"active\":true,\"timeZone\":\"America/Chicago\",\"accountType\":\"atlassian\"}],\"customfield_10004\":null,\"customfield_10169\":null,\"environment\":null,\"duedate\":null,\"progress\":{\"progress\":0,\"total\":0},\"comment\":{\"comments\":[],\"maxResults\":0,\"total\":0,\"startAt\":0},\"votes\":{\"self\":\"https://rigup.atlassian.net/rest/api/3/issue/EE-282/votes\",\"votes\":0,\"hasVoted\":false},\"worklog\":{\"startAt\":0,\"maxResults\":20,\"total\":0,\"worklogs\":[]}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "atl-traceid",
              "value": "a98747c95e2ec54d"
            },
            {
              "name": "x-aaccountid",
              "value": "5be06148923d3245b8ba1a1f"
            },
            {
              "name": "x-arequestid",
              "value": "f6525141-702c-4aad-8d99-9c6d502f3968"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 767,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
