{
  "log": {
    "_recordingName": "Jira Class Test/getUsersByAccountIds should return valid users",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.2"
    },
    "entries": [
      {
        "_id": "2548ece7258728e763e8c8c18612ea8e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": [
                ""
              ]
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxResults",
              "value": "25"
            },
            {
              "_fromType": "array",
              "name": "accountId",
              "value": "5c7d4b0d16effa74fa9deac3"
            },
            {
              "_fromType": "array",
              "name": "accountId",
              "value": "5c6c66f347a54a6728e56778"
            }
          ],
          "url": "https://rigup.atlassian.net/rest/api/3/user/bulk?maxResults=25&accountId=5c7d4b0d16effa74fa9deac3&accountId=5c6c66f347a54a6728e56778"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 2082,
            "text": "{\"self\":\"https://rigup.atlassian.net/rest/api/3/user/bulk?accountId=5c7d4b0d16effa74fa9deac3&accountId=5c6c66f347a54a6728e56778&maxResults=25&startAt=0\",\"maxResults\":25,\"startAt\":0,\"total\":2,\"isLast\":true,\"values\":[{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5c7d4b0d16effa74fa9deac3\",\"key\":\"michaelroberts\",\"accountId\":\"5c7d4b0d16effa74fa9deac3\",\"name\":\"michaelroberts\",\"emailAddress\":\"michael.roberts@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=24&s=24\",\"16x16\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=16&s=16\",\"32x32\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c7d4b0d16effa74fa9deac3/40766bde-7593-4e45-9e02-4980cd21abf5/128?size=32&s=32\"},\"displayName\":\"Michael Roberts\",\"active\":true,\"timeZone\":\"America/Chicago\"},{\"self\":\"https://rigup.atlassian.net/rest/api/3/user?accountId=5c6c66f347a54a6728e56778\",\"key\":\"mac.evans\",\"accountId\":\"5c6c66f347a54a6728e56778\",\"name\":\"mac.evans\",\"emailAddress\":\"mac.evans@rigup.co\",\"avatarUrls\":{\"48x48\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5c6c66f347a54a6728e56778/a8031473-d656-4676-aa28-923411f2661e/128?size=48&s=48\",\"24x24\":\"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.n[...]
